<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MidSem24448WebTech</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>utilisateur.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterStudent</display-name>
    <servlet-name>RegisterStudent</servlet-name>
    <servlet-class>student.RegisterStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStudent</servlet-name>
    <url-pattern>/RegisterStudent</url-pattern>
  </servlet-mapping>
 <!--  <filter>
    <display-name>AuthorizeFilter</display-name>
    <filter-name>AuthorizeFilter</filter-name>
    <filter-class>utilisateur.AuthorizeFilter</filter-class>
  </filter> -->
 <!--  <filter-mapping>
    <filter-name>AuthorizeFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->
  
  
<servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>utilisateur.LogOutUser</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
</servlet-mapping>


 <servlet>
  <servlet-name>oublier</servlet-name>
  <servlet-class>utilisateur.ForgotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>oublier</servlet-name>
   <url-pattern>/forgot</url-pattern>
  </servlet-mapping>


    
   <error-page>
   <error-code>404</error-code>
   <location>/404.html</location>
  </error-page>
   
  <error-page>
   <error-code>500</error-code>
   <location>/500.html</location>
  </error-page>
  
<!--   <error-page>
   <exception-type>java.lang.Throwable</exception-type >
   <location>/erroHandling</location>
   </error-page>  -->
   
   
<!--    <listener>
    <listener-class>SessionTimeoutListener</listener-class>
</listener> -->


<!-- <filter>
    <filter-name>SessionTimeoutFilter</filter-name>
    <filter-class>SessionTimeoutFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>SessionTimeoutFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping> -->


<!-- <listener>
    <listener-class>utilisateur.SessionListener</listener-class>
</listener> -->

<servlet>
    <description></description>
    <display-name>FilterBackground</display-name>
    <servlet-name>FilterBackground</servlet-name>
    <servlet-class>utilisateur.ServletAuthorize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterBackground</servlet-name>
    <url-pattern>/filterBackground</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>FilteringAcademic</display-name>
    <servlet-name>FilteringAcademic</servlet-name>
    <servlet-class>utilisateur.AcademicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilteringAcademic</servlet-name>
    <url-pattern>/filterAcademic</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>FilteringMedia</display-name>
    <servlet-name>FilteringMedia</servlet-name>
    <servlet-class>utilisateur.MediaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilteringMedia</servlet-name>
    <url-pattern>/filterMedia</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>FilteringApplication</display-name>
    <servlet-name>FilteringApplication</servlet-name>
    <servlet-class>utilisateur.ApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilteringApplication</servlet-name>
    <url-pattern>/filterApplication</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>FilteringRegistration</display-name>
    <servlet-name>FilteringRegistration</servlet-name>
    <servlet-class>utilisateur.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilteringRegistration</servlet-name>
    <url-pattern>/filterRegistration</url-pattern>
  </servlet-mapping>
  
  
  
     <servlet>
    <description></description>
    <display-name>FilteringResearch</display-name>
    <servlet-name>FilteringResearch</servlet-name>
    <servlet-class>utilisateur.ResearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilteringResearch</servlet-name>
    <url-pattern>/filterResearch</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>admin1</display-name>
    <servlet-name>admin1</servlet-name>
    <servlet-class>utilisateur.AdminUndergraduate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin1</servlet-name>
    <url-pattern>/filteradmissionUndergraduate</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>admin2</display-name>
    <servlet-name>admin2</servlet-name>
    <servlet-class>utilisateur.AdminCampus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin2</servlet-name>
    <url-pattern>/filterCampuses</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>admin3</display-name>
    <servlet-name>admin3</servlet-name>
    <servlet-class>utilisateur.AdminLibrary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin3</servlet-name>
    <url-pattern>/filterLibrary</url-pattern>
  </servlet-mapping>
  
  
  
   <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
  
  
 <!--  <listener>
    <listener-class>utilisateur.SessionTimeoutListener</listener-class>
  </listener> -->
  
<!--    <filter>
    <filter-name>SessionValidationFilter</filter-name>
    <filter-class>utilisateur.SessionValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionValidationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->
</web-app>