@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,50,0.8), rgba(0,0,50,0.8)), url(background.jpg);
    background-position: center;
    background-size: cover;
}

.form-box {
    width: 90%;
    max-width: 450px;
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #3c00a0;
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-height: 65px;
    overflow: hidden;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

input, select {
    width: calc(100% - 40px);
    background: transparent;
    border: none;
    outline: none;
    padding: 18px 15px;
}

input[type="password"] {
    margin-top: 5px;
}

.btn-field {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-field button:hover {
    background: #512da8;
}

#dropdown {
    width: calc(100% - 40px);
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
}

#dropdown:focus {
    border-color: #3c00a0;
}
